@import "../../../scss/variables";

.container {
  h1 {
    color: $yellow;
  }

  .about-detail {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px 0px;

    p {
      margin-top: 20px;
    }

    .list {
      a {
        &:link,
        &:visited {
          text-decoration: none;
          color: $yellow;
        }

        &:hover {
          text-decoration: underline;
          background: darken(black, 10%);
          color: $yellow;
          border-radius: 10px;
        }
      }
    }
  }
}
