<div class="container">
  <a (click)="goBack()" class="cardinal-button"> GO BACK</a>
  <h1> Angular Challenge </h1>
  <div class="about-detail">
    <p> My name is Luiza Pereira, i am a JT (Jovem Talento, Young Talent) at ilegra BR.</p>
    <p> This is my first project using Angular 8, and have the intention to level my skills</p>

    <ul class="list">
      <li>This project uses YARN to manage project dependencies</li>
      <li>All the data came from <a href="https://swapi.co/" target="_blank"> Star Wars API</a></li>
      <li>SCSS for the development of styles</li>
      <li>Componentization concepts</li>
      <li>style guide of Airbnb</li>
    </ul>

  </div>
</div>
