<div class="container">
  <div *ngIf="movie">
    <app-back-button> </app-back-button>
    <h1>Episode {{movie.episode_id}} : {{ movie.title }}</h1>
    <div class="sub-title">
      <p>Release Date: {{movie.release_date | date:'dd/MM/yyyy'}}</p>
      <p>Director : {{movie.director}}</p>
      <p>Producer : {{movie.producer}}</p>
    </div>
    <div class="movie-crawl">
      <span>{{movie.opening_crawl}}</span>
    </div>

    <!-- <ul class="component-list">
      <li *ngFor="let route of routes" class="component-item">
        <a [routerLink]="route.path" [innerText]="route.title"></a>
      </li>
    </ul>
    <router-outlet></router-outlet> -->

   <div *ngIf="characters" class="characters-block">
      <h1>Characters</h1>
      <ul class="characters-list">
        <app-information-box class="characters-detail"
          *ngFor="let character of characters"
          [object]="character"
          [map-attributes]="['gender','height','hair_color']"
          title-attribute="name"
        ></app-information-box>
      </ul>
    </div>

    <div *ngIf="planets" class="planets-block">
      <h1>Planets</h1>
      <ul class="planets-list">
        <app-information-box class="planets-detail"
          *ngFor="let planet of planets"
          [object]="planet"
          [map-attributes]="['diameter','climate','population','terrain']"
          title-attribute="name"
        ></app-information-box>
      </ul>
    </div>

    <div *ngIf="species" class="species-block">
      <h1>Species</h1>
      <ul class="species-list">
        <app-information-box class="species-detail"
          *ngFor="let specie of species"
          [object]="specie"
          [map-attributes]="['classification','designation','homeworld','language']"
          title-attribute="name"
        ></app-information-box>
      </ul>
    </div>

    <div *ngIf="starships" class="starships-block">
      <h1>Starships</h1>
      <ul class="starships-list">
        <app-information-box class="starships-detail"
          *ngFor="let starship of starships"
          [object]="starship"
          [map-attributes]="['model','starship_class','cost_in_credits']"
          title-attribute="name"
        ></app-information-box>
      </ul>
    </div>

    <div *ngIf="vehicles" class="vehicles-block">
      <h1>Vehicles</h1>
      <ul class="vehicles-list">
        <app-information-box class="vehicles-detail"
          *ngFor="let vehicle of vehicles"
          [object]="vehicle"
          [map-attributes]="['model','vehicle_class','cost_in_credits']"
          title-attribute="name"
        ></app-information-box>
      </ul>
    </div>

  </div>
</div>
