@import "../../../scss/variables";

body {
  background-size: auto;
}

li {
  margin: 10px 0px 0px 10px;

  a {

    &:link,
    &:visited {
      text-decoration: none;
      color: white;
    }

    &:hover {
      text-decoration: underline;
      color: $yellow;
    }
  }
}
