<div class="container">
  <app-back-button></app-back-button>
  <h1> Angular Challenge </h1>
  <div class="about-detail">
    <p> My name is Luiza Pereira, I am a JT (Jovem Talento, Young Talent) at ilegra BR.</p>
    <p> This is my first project using Angular 8, and have the intention to level my skills.</p>

    <ul class="list">
      <li>This project uses YARN to manage project dependencies</li>
      <li>All the data came from <a href="https://swapi.co/" target="_blank"> Star Wars API</a></li>
      <li>SCSS for the development of styles</li>
      <li>Componentization concepts</li>
      <li>Style guide of Airbnb</li>
    </ul>

    <ul class="footer-list">
      <li>
        <a href="https://github.com/LuizaPereira" target="_blank">
          <img src="../../../assets/images/github.png">
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/luiza-pereira/" target="_blank">
          <img src="../../../assets/images/linkedin.png">
        </a>
      </li>
      <li>
        <a href="mailto:luiza.pereira@ilegra.com" target="_blank">
          <img src="../../../assets/images/email.png">
        </a>
      </li>
    </ul>
  </div>
</div>
