.container {
  display: flex;
  justify-content: center;

  .error {
    text-align: center;
    flex-direction: column;

    h1 {
      font-size: 50px;
      padding-right: 12px;
      animation: type 0.5s alternate infinite;
    }

    h2 {
      margin: 10px 0;
    }
  }
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}
