/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli:400,700&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  //margin-left: 0px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.ibb.co/G7KwLGs/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Russo One", sans-serif;
  letter-spacing: 1,5px;

  .container {
    margin: 20px;
    background: black;
    padding: 10px;
    border-radius: 10px;
    color: white;

    a {
      text-decoration: none;
    }

    ul {
      list-style-type: none;
    }

    h1 , h2{
      text-align: center;
    }

    h4 {
      margin-top: 20px;
      padding: 50px;
      text-align: center;
    }

    .cardinal-button {
      display: inline-block;
      padding: 0.35em 1.2em;
      border: 0.1em solid #ffffff;
      margin: 0 0.3em 0.3em 0;
      border-radius: 0.12em;
      box-sizing: border-box;
      text-decoration: none;
      font-family: "Russo One", sans-serif;
      font-weight: 300;
      color: #ffffff;
      text-align: center;
      transition: all 0.2s;

      &:hover {
        color: #000000;
        background-color: #ffffff;
        cursor: pointer;
      }

      @media all and (max-width: 30em) {
        .back-button {
          display: block;
          margin: 0.4em auto;
        }
      }
    }
  }
}
