@mixin block-detail($bg-color, $font-color, $border-color) {
  background-color: $bg-color;
  color: $font-color;
  margin: 10px;
  padding: 10px;
  border: solid 3px $border-color;
  border-radius: 10px;
}

@mixin block-disposal() {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
